@import url(https://fonts.googleapis.com/css?family=Merriweather|Open+Sans);
.skills-animation-active {
  transition: all 1s ease-in;
  display: display; }

.skills-animation-inactive {
  display: none; }

.animate-enter,
.animate-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap; }

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  width: 0px;
  height: 0px; }

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  width: 150px;
  height: 30px; }

#about-me-image {
  width: 95%;
  height: 95%; }

body {
  position: relative;
  background: url(../img/cat-background.png) center center no-repeat;
  background-color: white;
  background-size: 100% auto;
  background-position: 0 80px;
  font-size: 12pt;
  min-height: 700px;
  color: #333333; }
  body a {
    color: #6699cc;
    transition: all 250ms ease-in-out; }
  body a:hover {
    text-decoration: none;
    color: #264d73; }

.row {
  margin-right: 0; }

.zen-kitty-side-bar > button {
  margin-top: 100px;
  margin-left: 20px; }

aside {
  position: relative;
  margin: 0 0 0 0; }
  aside .social-media-bar {
    position: absolute;
    left: -255px;
    transition: all 600ms ease; }
  aside .social-expand {
    left: -50px; }
  aside ul li {
    display: inline-block;
    color: white;
    border: 1px solid white;
    margin-right: 5px;
    padding: 8px 0;
    border-radius: 25px;
    transition: all 250ms ease-in-out; }
    aside ul li a {
      color: white;
      transition: all 250ms ease-in-out; }
    aside ul li a:hover {
      color: #333333; }
    aside ul li .fa-google-plus {
      padding: 0 10px; }
    aside ul li .fa-angle-right {
      padding: 0 16px; }
    aside ul li .fa-facebook {
      padding: 0 15px; }
    aside ul li .fa-twitter {
      padding: 0 12px; }
    aside ul li .fa-github {
      padding: 0 12px; }
  aside ul li:hover {
    color: #333333;
    background-color: white; }

.kittens {
  background: url("/../../portfolio/img/big_ol_kitty.png") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 350px; }

button {
  background-color: #8cb3d9;
  border: 2px solid #3973ac;
  padding: 10px 15px;
  transition: all 250ms ease-in-out; }
  button a {
    color: white;
    text-decoration: none; }

button:hover {
  background-color: #4080bf; }
  button:hover a {
    color: white;
    text-decoration: none; }

.btn-zen {
  color: white;
  background-color: #8cb3d9;
  border: 1px solid #3973ac; }

.btn-zen:hover {
  color: white;
  background-color: #4080bf;
  border-color: #3973ac; }

.zen-kitty-menu-items > ul {
  padding: 40px 10px 0 10px; }
  .zen-kitty-menu-items > ul :last-child {
    border-right: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }
  .zen-kitty-menu-items > ul li {
    border-right: 1px solid #b3b3b3;
    text-transform: uppercase;
    box-shadow: 1px 0 #e6e6e6;
    -webkit-box-shadow: 1px 0 #e6e6e6;
    -moz-box-shadow: 1px 0 #e6e6e6; }
    .zen-kitty-menu-items > ul li a {
      color: #333333 !important;
      padding: 10px 25px;
      transition: all 250ms ease; }
    .zen-kitty-menu-items > ul li a:hover {
      color: #6699cc !important;
      border-bottom: 3px solid #6699cc; }

.zen-borders {
  border-bottom: 8px solid #6699cc;
  box-shadow: 0 2px #5b91c8;
  -webkit-box-shadow: 0 2px #5b91c8;
  -moz-box-shadow: 0 2px #5b91c8; }

.zen-kitty-content {
  font-size: 16px;
  margin-top: 400px;
  margin-bottom: 50px;
  line-height: 40px; }

#back-to-top {
  position: fixed;
  visibility: hidden;
  bottom: 25px;
  right: 20px;
  border: 1px solid #333333;
  border-radius: 40px;
  padding: 13px 16px;
  transition: all 250ms ease-in-out; }
  #back-to-top a {
    color: #333333; }

#back-to-top:hover {
  background-color: #4080bf; }
  #back-to-top:hover a {
    color: white; }

.cd-is-visible {
  /* the button becomes visible */
  visibility: visible !important;
  opacity: .75; }

.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .50; }

.zen-skills article {
  -webkit-columns: 2 200px;
  -moz-columns: 2 200px;
  columns: 2 200px;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em; }

.zen-kitties-contact-form {
  position: absolute;
  index: 30;
  top: -450px;
  left: 250px;
  min-height: 300px;
  background-color: white;
  border-radius: 15px;
  transition: all 1s ease-in;
  -moz-box-shadow: 0 2px 10px -2px #333333;
  -webkit-box-shadow: 0 2px 10px -2px #333333;
  box-shadow: 0 2px 10px -2px #333333; }

.contact-animation {
  transition: all 1s ease-in-out;
  top: 150px; }

.contact-animation-out {
  top: -450px; }

@media only screen and (max-width: 768px) {
  body {
    background: url(../img/cat-background-mini.png) center center no-repeat;
    background-position: 0 125px;
    background-size: 100% auto;
    min-height: 650px;
    font-size: 12pt; }
  #about-me-image {
    width: 80%;
    float: left; }
  .zen-kitty-content {
    margin-top: 50px;
    margin-left: 15px;
    font-size: 10pt;
    line-height: 25px; }
  .brand-logo {
    width: 100%; }
  .zen-kitty-menu-items > ul li {
    border-right: none;
    box-shadow: none;
    display: block;
    text-align: center; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0; }
  .zen-kitties-contact-form {
    left: 2px;
    top: 325px; } }

.row.zen-kitty-footer {
  margin-right: 0px;
  margin-left: 0px; }

.zen-kitty-footer {
  position: absolute;
  bottom: 0px;
  background-color: white;
  border-top: 5px solid #538cc6;
  height: 30px;
  width: 100%;
  box-shadow: inset 0 2px 10px -2px #333333; }
