// Footer Styles
.row.zen-kitty-footer {
    margin-right: 0px;
    margin-left: 0px;
}

.zen-kitty-footer {
    position: fixed;
    bottom: 0px;
    background-color: $white;
    border-top: 5px solid darken($default-color, 5%);
    height: 30px;
    width: 100%;
    box-shadow: 0  -2px 10px -2px $second-color;
    -webkit-box-shadow: 0  -2px 10px -2px $second-color;
    -moz-box-shadow: 0  -2px 10px -2px $second-color;
}