// Header Styles

.kittens {
  background: url('/../../portfolio/img/big_ol_kitty.png') no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 350px;
}