// Layout Style Area

body {
    position: relative;
    font: $font;
    background: url(../img/cat-background.jpg) center center no-repeat;
    background-color: $background-color;
    background-size: 100% auto;
    background-position: 0 80px;
    font-size: $default-font-size;
    min-height: 700px;
    color: $second-color;
    
    a {
        color: $default-color;
        transition: all 250ms ease-in-out;
    }
    
    a:hover {
        text-decoration: none;
        color: darken($default-color, 30%);
    }
}

.blue {
    color: darken($default-color, 5%);
}


.row {
    margin-right: 0;
}