//Media Queries

@media only screen and (max-width: 768px) {
    body {
        background: url(../img/cat-background-mini.png) center center no-repeat;
        background-position: 0 125px;
        background-size: 100% auto;
        min-height: 650px;
        font-size: $default-font-size;
    }
    
    #about-me-image {
        width: 80%;
        float: left;
    }
    
    .zen-kitty-content {
        margin-top: 50px;
        margin-left: 15px;
        font-size: $small-font;
        line-height: $media-line-height;
    }
    
    .brand-logo {
        width: 100%;
    }
    
    .zen-kitty-menu-items>ul {
        li {
            border-right: none;
            box-shadow: none;
            display: block;
            text-align: center;
            
        }
    }
    
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: 0;
    }
    
    .zen-kitties-contact-form {
        left: 2px;
        top: 325px;
    }
    
}