$font: "Open Sans", Merriweather, sans-serif, Arial, Helvetica;
$default-font-size: 12pt;
$small-font: 10pt;
$border-radius: 25px;

$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);
$default-color: hsla(210, 50%, 60%, 1);
$second-color: hsla(0, 0%, 20%, 1);
$background-color: hsl(0, 100%, 100%);
$link-color: $second-color;

$default-line: 40px;
$media-line-height: 25px;


