<!-- about me page -->
<h1>About Me</h1>
<div class="row">
  <div class="col-md-5">
      <img id="about-me-image" src="img/about-me.png" />
  </div><!--/.col-md-5 -->
  <div class="col-md-7">
      <p>My name is Nick Myers, and I am a 28 year old Web Developer based out of Fresno, CA. We are
      currently in process of going through a technology transformation due to <a href="http://bitwiseindustries.com/" target="_blank">Bitwise Industries</a> bringing Fresnos tech scene to the forefront. I have had the pleasure of doing work with Bitwise as being a part of their first ever <a href="http://geekwiseacademy.com/cohort" target="_blank">Cohort program</a> which allowed me to work on a team of 8 specially selected individuals out of the thousands that have taken Geekwise Academies courses. The Cohort One (or Cohort Prime as we call it) got to work on real client work with local companies and show off our skills, and gain new ones!</p>
      <p>It was a wonderful experience that I learned a lot from and such an honor. Now I am a Freelance web developer excited about using my skills to help other companies reap the benefits of what I've learned. There are a number of skills that I've learned that if you would like to see, you could <a id="#skills" href="#">simply click here to reveal them below.</a></p>
  </div><!--/.col-md-7 -->
</div><!--/.row -->