<div class="row" ng-controller="ContactFormController">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-1 zen-kitties-contact-form" ng-class="{'contact-animation-out': !seeyoulater,'contact-animation-out': seeyoulater} ">
      <h1>Contact Form</h1>
       <form name="zenForm" method="POST" action="//formspree.io/zenfootphilosopher@gmail.com">
          <div class="form-group">
              <label for="firstName">First Name:</label>
              <input name="firstName" type="text" class="form-control" id="first_name" placeholder="Cloud" required/>
          </div>
          <div class="form-group">
              <label for="lastName">Last Name:</label>
              <input name="lastName" type="text" class="form-control" id="last_name" placeholder="Strife"/>
          </div>
          <div class="form-group">
              <label for="email">Email:</label>
              <input name="email" type="email" class="form-control" id="last_name" placeholder="cloudstrife@shinra.com" required/>
          </div>
          <div class="form-group">
              <label for="phoneNumber">Contact Number:</label>
              <input name="phone" type="tel" class="form-control" id="contact_number" placeholder="(559) 555-1234" />
          </div>
          <div class="form-group">
              <label for="comments">Message:</label>
              <textarea name="message" class="form-control" id="comment_area" required/>
          </div>
          <div class="form-group">
              <button class="btn btn-zen" id="submit_button" type="submit">Submit Message</button>
              <button class="btn btn-danger" id="reset_button" type="reset">Reset Form</button>
              <a class="btn btn-default" id="close_button" ng-click="seeyoulater = !seeyoulater">Close Form</a>
          </div>
       </form>
    </div><!--/.zen-kitties-contact-form -->
</div><!--/.row -->